<div class="row">
    <div class="col text-center">
      <h1> To Do Lists</h1>
    </div>
</div>

{{#each lists}}
<div class="row">
  <div class="col-lg-8">
    <h1>{{this.dataValues.listName}}</h1>
    <p class="text-muted">{{this.dataValues.listDesc}}</p>
    </div>
    <div class="col-lg-4">
        <a class="btn btn-primary " href="/list/{{this.dataValues.id}}">Edit Tasks</a>
    </div>
</div>

<hr>


  <table class="table table-bordered custom-table">
    <thead class="table">
      <tr>
        {{!-- <th>ID</th> --}}
        <th>Task Title</th>
        <th>Status</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.Tasks}}
      <tr>
        {{!-- <td>{{this.dataValues.id}}</td> --}}
        <td>{{this.dataValues.item}}</td>
        <td>
          {{#if this.dataValues.completed}}
            <span class="badge bg-success">Completed</span>
          {{else}}
            <span class="badge bg-warning text-dark">Pending</span>
          {{/if}}
        </td>
        <td>{{this.displayDueDate}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

{{/each}}